<div class="parent">
    <div class="tabs">
        <a class="species" data-tab="species">Espèces</a>
        <a class="item" data-tab="item">&Eacute;quipement</a>
        <a class="npc" data-tab="npc">Adversaires & PNJ</a>
    </div>

    <div class="content">
            <div class="tab" data-tab="species">{{> "modules/star-wars-compendium-fr/template/species.html"}}</div>
            <div class="tab" data-tab="item">{{> "modules/star-wars-compendium-fr/template/items.html"}}</div>
            <div class="tab" data-tab="npc">{{> "modules/star-wars-compendium-fr/template/adversaries.html"}}</div>
    </div>
</div>