<div>
    <table class="compendium-list">
        <thead>
            <tr>
                <th style="width: 60px"></th>
                <th class="cb-th cb-th-start cb-sortable" data-sort="name">
                    <span>Nom</span>
                    <button type="button" class="cb-filter-btn" data-sort="name" title="Filtrer Nom">
                        <i class="fas fa-filter"></i>
                    </button>
                </th>
                <th class="cb-th cb-sortable" data-sort="Brawn">
                    <span>Vig</span>
                    <button type="button" class="cb-filter-btn" data-sort="Brawn" title="Filtrer">
                        <i class="fas fa-filter"></i>
                    </button>
                </th>
                <th class="cb-th cb-sortable" data-sort="Agility">
                    <span>Agi</span>
                    <button type="button" class="cb-filter-btn" data-sort="Agility" title="Filtrer">
                        <i class="fas fa-filter"></i>
                    </button>
                </th>
                <th class="cb-th cb-sortable" data-sort="Intellect">
                    <span>Int</span>
                    <button type="button" class="cb-filter-btn" data-sort="Intellect" title="Filtrer">
                        <i class="fas fa-filter"></i>
                    </button>
                </th>
                <th class="cb-th cb-sortable" data-sort="Cunning">
                    <span>Ru</span>
                    <button type="button" class="cb-filter-btn" data-sort="Cunning" title="Filtrer">
                        <i class="fas fa-filter"></i>
                    </button>
                </th>
                <th class="cb-th cb-sortable" data-sortl="Willpower">
                    <span>Vol</span>
                    <button type="button" class="cb-filter-btn" data-sort="Willpower" title="Filtrer">
                        <i class="fas fa-filter"></i>
                    </button>
                </th>
                <th class="cb-th cb-sortable" data-sort="Presence">
                    <span>Pré</span>
                    <button type="button" class="cb-filter-btn" data-sort="Presence" title="Filtrer">
                        <i class="fas fa-filter"></i>
                    </button>
                </th>
                <th class="cb-th cb-sortable" data-sort="Strain">
                    <span>Stress</span>
                    <button type="button" class="cb-filter-btn" data-sort="Strain" title="Filtrer">
                        <i class="fas fa-filter"></i>
                    </button>
                </th>
                <th class="cb-th cb-sortable" data-sort="Wounds">
                    <span>Bless</span>
                    <button type="button" class="cb-filter-btn" data-sort="Wounds" title="Filtrer">
                        <i class="fas fa-filter"></i>
                    </button>
                </th>
                <th class="cb-th cb-sortable" data-sort="startingXP">
                    <span>XP</span>
                    <button type="button" class="cb-filter-btn" data-sort="startingXP" title="Filtrer">
                        <i class="fas fa-filter"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody id="CBSpecies">
            {{> "modules/star-wars-compendium-fr/template/species-list.html" listItems=items}}
        </tbody>
    </table>
</div>