<div>
    <div class="">
        <p>Filtres</p>
    </div>
    <div>
        <table class="compendium-list">
            <thead>
            <tr>
                <th style="width: 60px"></th>
                <th style="text-align:start">Nom</th>
                <th>Vig</th>
                <th>Agi</th>
                <th>Int</th>
                <th>Ru</th>
                <th>Vol</th>
                <th>Pré</th>
                <th>Stress</th>
                <th>Bless</th>
                <th>XP</th>
            </tr>
            </thead>
            <tbody id="CBSpecies">
            {{> "modules/star-wars-compendium-fr/template/species-list.html" species=items}}
            </tbody>
        </table>
    </div>
</div>